
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;

}

.Particles {

position: absolute;
width: 100%;
height: 50%;
top:0;


}

.App-page {
  text-align: center;
  background-color: white;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 10px;
   /*background: linear-gradient(to right, #b881d6, #aec4ee);*/
   /*background-blend-mode: lighten;*/
background: rgb(0,37,102);
background: linear-gradient(90deg, rgba(0,37,102,1) 0%, rgba(95,132,233,1) 50%, rgba(86,245,215,1) 100%);
  /*background:  url(img/aurora1.jpeg);
  background-repeat: no-repeat;*/
  background-size: cover;

}

.Text-twitter-blue {
  color : #1da1f2;
}

.Text-title {
  color : black;
  font-size: 50px;
}


.Tweet-btn {

  border: none;
  color: white;
  background-color: #1da1f2;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 0px 0px;
  cursor: pointer;
  width: 50%;
  font-size: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  

}

.Input-box-tweet {
  width: 100%;
  height: 150px;
  padding: .5px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 20px;
  background-color: #f8f8f8;
  resize: none;
  font-size: 20px;
  margin: 0px 0px 0px;
  opacity: .9
  
}

.Input-box-sender {
 width: 100%;
  height: 100px;
  padding: .5px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 20px;
  background-color: #f8f8f8;
  resize: none;
  font-size: 20px;
    margin: 0px 0px 0px;
    opacity: .9
  
}

h1 { color: white; font-family: 'Helvetica Neue', sans-serif; font-size: 90px; font-weight: bold; letter-spacing: -1px; line-height: .2; margin: 200px 200px 40px; text-align: center}


p { color:white; font-family: 'Open Sans', sans-serif; font-size: 25px; font-weight: 300; line-height: 30px; margin: 40px 0 40px; text-align: center; }

.description { 

    border-radius: 25px;
  border: 1px solid white;
  padding: 20px; 
  width: 500px;
  height: 270px;  
  color: white; font-family: 'Open Sans', sans-serif; font-size: 18px; font-weight: bold; line-height: 30px; margin: 100px 0 90px; text-align: center; }



.count { color: white; font-family: 'Open Sans', sans-serif; font-size: 15px; font-weight: 300; line-height: 32px; margin: 40px 0 40px; text-align: center; }

.fakeTweetTxt { color: white; font-family: 'Helvetica Neue', sans-serif; font-weight: bold; letter-spacing: -1px;}

.App-link {
  color: #1da1f2;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
